@import url("https://fonts.cdnfonts.com/css/new-walt-disney-font");
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.cdnfonts.com/css/new-walt-disney-font");
:root {
  --primary-color: black;
  --secondary-color: white;
  --base-font-size: 1rem;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-image: url(images/menu/55e1c0d248a679ad24cc04ea694b78aamobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  cursor: url(./images/mickey-la-souris.png) 2 2, pointer;
  font-family: "New Walt Disney Font", sans-serif;

  @media screen and (min-width: 900px) {
    background-color: #f0fffc;
    background-image: none;
  }

  main {
    height: 100%;

    @media screen and (min-width: 900px) {
      display: grid;
      grid-template-columns: 1fr 65%;
    }

    .columns-container {
      display: none;

      @media screen and (min-width: 900px) {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        overflow: hidden;

        .columns {
          transform-origin: center;
          background-repeat: no-repeat;
          background-size: cover;
          height: 100%;
          width: 100%;
        }
      }

      .transition {
        transition: all 0.2s ease;
        /* Permet de regler le temps entre le no-filter et le filter */
      }
    }
  }
}

.menu-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

  @media screen and (min-width: 900px) {
    background-image: url(images/menu/55e1c0d248a679ad24cc04ea694b78aa.jpg);
    background-size: cover;
    .login-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 50%;
      left: 68%;
      width: 400px;
      padding: 40px;
      transform: translate(-50%, -50%);
      background: white;
      box-sizing: border-box;
      box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
      border-radius: 10px;
      .login-box .user-box {
        position: relative;
      }
      .login-box .user-box input {
        width: 100%;
        padding: 10px 0;
        font-size: 16px;
        color: #fff;
        margin-bottom: 30px;
        border: none;
        border-bottom: 1px solid #fff;
        outline: none;
        background: transparent;
      }
      .login-box .user-box label {
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px 0;
        font-size: 16px;
        color: #fff;
        pointer-events: none;
        transition: 0.5s;
      }

      .login-box .user-box input:focus ~ label,
      .login-box .user-box input:valid ~ label {
        top: -20px;
        left: 0;
        color: #bdb8b8;
        font-size: 12px;
      }
      .login-box form a {
        position: relative;
        display: inline-block;
        padding: 10px 20px;
        color: #ffffff;
        font-size: 16px;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        transition: 0.5s;
        margin-top: 40px;
        letter-spacing: 4px;
      }
      .login-box a:hover {
        background: #03f40f;
        color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 5px #03f40f, 0 0 25px #03f40f, 0 0 50px #03f40f, 0 0 100px #03f40f;
      }

      .login-box a span {
        position: absolute;
        display: block;
      }

      @keyframes btn-anim1 {
        0% {
          left: -100%;
        }

        50%,
        100% {
          left: 100%;
        }
      }

      .login-box a span:nth-child(1) {
        bottom: 2px;
        left: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(90deg, transparent, #03f40f);
        animation: btn-anim1 2s linear infinite;
      }
    }
  }
}
/* .login-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%; /* ou une largeur dÃ©finie selon votre design */
/* height: 100%;
        #user-box {
          background-color: aqua;
        } */
/* }
    } */
/* }
  .login-box form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centre tous les Ã©lÃ©ments horizontalement */
/* } */

/* .login-box form div {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centre les labels et les champs de saisie horizontalement */
/* margin-bottom: 1rem; /* Ajoute un espacement entre les lignes du formulaire */
/* } */

/* .login-box label {
    margin-bottom: 0.5rem; /* Ajoute un espacement entre les labels et les champs de saisie */
/* font-size: 30px; */
/* } */
/* } */

/*Overlay au changement de page */
.overlayPage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(5, 4, 4);
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s ease;
  z-index: 9999; /* S'assure que l'overlay est au-dessus de tout */
}
.overlayPage.active {
  opacity: 1;
  pointer-events: all;
}

/* affichage modale characters au click sur colonne */
.modal {
  position: fixed;
  height: 76vh;
  width: 38vw;
  top: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fade-in-animation 0.3s linear 0s 1 normal both running;
  z-index: 101;
}
@keyframes fade-in-animation {
  0% {
    filter: blur(3px);
    opacity: 0;
  }

  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

/* Affichage overlay characters au click sur colonne */
.overlayModal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 100;
  animation: fade-in-animation 0.4s linear 0s 1 normal both running;
}

.hidden {
  display: none;
}
